   body{
   color: #151515;
   font-family: 'Roboto', sans-serif;
}


   img{
    height: 70px;
    border-radius: 60px;
    width: 70px;
}
.main{
	display: flex;
	justify-content: center;
	height: 100%;
}
.contact-list{
	width: 35%;
	height: 100%;
	overflow-y: scroll;
}
.user-info{
	width:65%;
	height: 100%;
}
.meh{
	border: 2px solid black;
}
.person-img {
	height: 60px;
	width: 60px;
	background-image: url(contactimg/ghani.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50px;
}
.detail-msg
{
	display: flex;
	padding: 1em;
	border-bottom: 0.1px solid #dbdbdb;
}
.msg{
	display: flex;
	color: #515367;
}
.second-detail{
	padding: 5px;
}
.third-detail{
	display: flex;
}
i{
	padding-right: 9px;
	margin-top: 5px;
	color: #999999;
}

.time{
	margin-top: 5px;
	margin-left: auto;
	color: #999999;
}
/*

	margin: auto;
    margin-top: 25px;
    margin-bottom: 16px;
}	

h2{
	text-align: center;
}

.user-det{
	display: inline-block;
}*/

.user-info
{
	display: flex;
}
.info-img
{
	height: 100px;
	width: 100px;
	background-image: url(contactimg/ghani.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50px;
}